{% extends 'base.html' %}
{% block content %}
    <div class="write_form">
        <p>Vous êtes en train de répondre à</p>
        <div class="post">
            <p>{{ ticket.user }} a posté un ticket| {{ ticket.time_created }}</p>
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.description }}</p>
            {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
            {% endif %}
        </div>
        <hr>
        <form method="post" enctype="multipart/form-data">
           
            <section class="form">
                <h3>Critique</h3>
                {{ review_form.as_p }}
            </section>
            {% csrf_token %}
            <button type="submit">Publier</button>
        </form>
    </div>
{% endblock %}