{% extends 'base.html' %}
{% block content %}
    <div class="write_form">
        <p>Vous êtes en train de répondre à</p>
        
        {% include "publications/partials/ticket_snippet_buttonless.html" with ticket=ticket %}
        
        <hr>
        <form method="post" enctype="multipart/form-data">
           
            <section class="form">
                <h3>Critique</h3>
                {{ review_form.as_p }}
            </section>
            {% csrf_token %}
            <button type="submit">Publier</button>
        </form>
    </div>
{% endblock %}