{% extends 'base.html' %}
{% block content %}
    
    <article class="edit_del_form">
        <h2>Edit ticket</h2>
        <section>
            <form method="post" enctype="multipart/form-data">
                {{ edit_ticket_form.as_p}}
                {% csrf_token %}
                <button type="submit">save modification</button>
            </form>
        </section>
        
        <h2>Supprimer le billet ?</h2>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
            <button type="submit" >Supprimer</button>
        </form>
    </article>
{% endblock %}