{% extends 'base.html' %}
{% load publications_extras %}
{% block content %}

<div class="actions">
    <button type="button"><a href="{% url 'publications:create-ticket' %}">Demander une critique</a></button>
    <button type="button"><a href="{% url 'publications:create-review' %}">Créer une critique</a></button>
</div>
<div class="posts">
    {% if page_obj %}
    {% for instance in page_obj %}
    {% if instance|model_type == "Review" %}
    {% include "publications/partials/review_snippet.html" with review=instance %}
    {% elif instance|model_type == "Ticket" %}
    {% include "publications/partials/ticket_snippet.html" with ticket=instance %}
    {% endif %}
    {% endfor %}
    {% else %}
    <p></p>
    {% endif %}
</div>
{% include "publications/partials/pagination_snippet.html" %}



{% endblock content %}