{% extends 'base.html' %}
{% load publications_extras %}
{% block content %}

    <div>
        {% if page_obj %}
            {% for instance in page_obj %}
                {% if instance|model_type == 'Review' %}
                    {% include 'publications/partials/review_snippet.html' with review=instance %}
                {% elif instance|model_type == 'Ticket' %}
                    {% include 'publications/partials/ticket_snippet.html' with ticket=instance %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>C'est bien vide...</p>
        {% endif %}
    </div>
{% endblock %}