{% load publications_extras %}
<article class="post">
    <section class="post_info">
        <div class="user_info">
            {% if ticket.user == request.user %}
                <p>Vous avez demandé une critique</p>
            {% else %}
                <p>{{ ticket.user }} a demandé une critique</p>
            {% endif %}
        </div>
        <div class="time_info">
            {{ ticket.time_created }}
        </div>
    </section>
    <section class="post_content">
        <div class="title_rating">
            <p>{{ ticket.title }}</p>
        </div>
        <div class="content">
            <p>{{ ticket.description }}</p>
            {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
            {% endif %}
        </div>
    </section>
</article>
